{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto - Tienda de Video Juegos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Contacto</h1>
    <p class="text-body">¿Tienes alguna pregunta? ¡Contáctanos!</p>
    <form>
        <div class="mb-3">
            <label for="nombre" class="form-label text-body">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label text-body">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}