<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Video Juegos</title>
</head>
<body>
    <h1>Bienvenidos a la Tienda de Video Juegos</h1>
    <p>Explora nuestro catálogo y disfruta de los mejores juegos. </p>

    <footer>
        <p>&copy; 2024 Tienda de Video Juegos. Todos los derechos reservados.</p>
        <a href="{% url 'contacto' %}">Contacto</a>
    </footer>
</body>
</html>