{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Tienda de Video Juegos{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-body">Bienvenidos a la Tienda de Video Juegos</h1>
    <p class="text-body">Explora nuestro catálogo y disfruta de los mejores juegos.</p>

    <img src="{% static 'img/logo2.png' %}" alt="logo" class="img-fluid my-6">
    
    <div class="alert alert-primary">¡Nueva colección de videjuegos disponibles esta semana!</div>
    <div class="alert alert-warning">Recuerda revisar las restricciones de edad para algunos títulos</div>
    <div class="alert alert-danger">Algunos productos tienen stock limitado, ¡apresúrate!</div>
</div>

{% endblock %}